* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    /* background: rgb(2, 0, 36); */
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(31, 87, 159, 1) 29%, rgba(62, 24, 150, 1) 77%, rgba(57, 15, 149, 1) 100%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    width: 100%;
    background-color: rgba(11, 11, 92, 0.342);
    color: antiquewhite;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 8% 20px 3%;

}

.navbar h1 {
    margin-right: auto;
    text-transform: uppercase;
    position: relative;
}

.navbar h1:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 1s;
}

.nav-items li {
    list-style: none;
    display: inline-block;
}

.nav-items {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.nav-items a {
    color: bisque;
    font-size: 1rem;
    text-decoration: none;
}

.nav-items a:hover {
    color: white;
}

.navbar button {
    margin-right: 5%;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: white; */
    /* background-color: rgba(25, 8, 85, 0.822); */
    background-color: rgba(11, 11, 92, 0.342);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    margin-top: 25px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: block;
    transition: 0.8s;
}

.sidebar a:hover {
    color: #a680ff;
}


.sidebar .closebtn {
    transition: 0.8s;
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 2.5rem;
    margin-left: 50px;

}

.navbar button {
    background: transparent;
    color: aliceblue;
    padding: 2px 4px;
    width: 40px;
    height: auto;
    border: 1px solid white;
    font-size: 20px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: white;
    color: rgb(61, 61, 255);
    transition: 0.8s;
}


footer {
    background-color: rgba(11, 11, 92, 0.342);
    color: rgb(221, 221, 221);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul {
    width: 50%;
    margin-bottom: 40px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

footer li,
a {
    list-style: none;
    color: rgb(221, 221, 221);
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 70%;
    margin: 3% auto;
    display: flex;
    align-content: center;
    justify-content: space-between;

}

input {
    background: transparent;
    border: 1px solid white;
    width: 20%;
    font-size: 1rem;
    height: 40px;
    padding: 5px;
    color: white;
    /* margin: 15px; */
}

::placeholder {
    color: antiquewhite;

}

form button {
    background-color: #1a125e;
    border: 1px solid white;
    /* margin: 15px; */
    width: 100px;
    font-size: 1rem;
    height: 40px;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.8s;
    cursor: pointer;
}

form button:hover {
    background: transparent;
    font-weight: bolder;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background-color: white;
}

main section {
    width: 70%;
    margin: 20px auto;
    height: 55vh;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.main-top h2 {
    color: beige;
    text-transform: uppercase;
    font-size: 1.5rem;

}

.display-cars button {
    background-color: transparent;
    color: bisque;
    padding: 5px 10px;
    width: 130px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
    border: 1px solid bisque;
}

.display-cars button:hover {
    transition: 0.5s;
    background-color: rgb(34, 24, 88);
    color: white;
    border: none;
    cursor: pointer;
}

.cars {
    margin: 10px 0px 0px 0px;
    width: 22%;
    height: 100%;
    border: 1px solid rgb(49, 40, 146);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    color: blanchedalmond;
    text-transform: uppercase;
}

.cars img {
    width: 100%;
    height: 50%;
}

.cars button {
    background: transparent;
    color: white;
    margin-bottom: 20px;
    padding: 5px 10px;
    width: 100px;
    height: 30px;
    font-size: 1rem;
    border: 1px solid bisque;
    transition: 0.5s;
}

.cars button:hover {
    background-color: rgb(34, 24, 88);
    color: white;
    border: none;
    cursor: pointer;
}

.display-cars {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
}

.cars h2 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.right-side {
    width: 100%;
    height: 80%;
    margin-bottom: 50px;
    /* border: 1px solid white; */
    display: none;
    justify-content: space-around;
}